# Team Allocation Algorithm

게임에 입장한 순서와 플레이어의 등급에 따라 팀을 자동으로 편성해주는 알고리즘을 짜자. 팀을 편성하는 기준은 다음과 같다.

* 들어온 순서대로 팀을 배정한다 (리스트에서 왼쪽부터 오른쪽 순서)
* 새로운 플레이어는 새 팀에 배정하거나, 혹은 모든 팀원의 등급이 해당 플레이어의 등급보다 낮은 팀에만 배정할 수 있다.
* 한 번 정해진 팀은 바꿀 수 없다.
* 팀은 적을수록 좋다 (중요!)
* 모든 플레이어의 등급은 서로 다르다 (조건)

In [9]:
def team_alloc(players):
    team_list = []
    team_max_list = []
    
    for i, p in enumerate(players):
        if i==0:
            # create new team; 0번째이므로 무조건 팀을 만든다.
            team_list.append( [p] ) # 리스트형으로 만들어준다.
            team_max_list.append(p)
            print(p, '\t', team_list)
            continue
            
        # 현재 배정된 팀 중에서 가장 점수가 낮은 팀을 선택한다 (왜?내가 들어갈 수 있는지 판단하기 위해)
        min_among_team = min(team_max_list)
        
        if p > min_among_team:
            print('\t', team_max_list)
            # 추가로 섬세한 기준이 더 필요하다.
            # 현재 p보다 점수가 낮은 팀들 중에서.. 제일 높은 팀을 또 선택해야 한다 (중요!!!)
            # 그래야 효율적으로 팀 배정을 할 수 있다. 
            # 만약 그냥 제일 낮은 팀에 배정하면 다음 타자가 선택할 수 있는 폭이 그만큼 줄어든다.
            new_std = [(value, i) for i, value in enumerate(team_max_list) if value < p]
            new_std_max = max(new_std, key=lambda x: x[0])
            idx = new_std_max[1]
            
            team_list[idx].append(p)
            team_max_list[idx] = max(team_list[idx])
            
        elif p < min_among_team:
            # create new team
            team_list.append( [p] )
            team_max_list.append(p)
            
        print(p, '\t', team_list)
            
    return len(team_list)

In [2]:
team_alloc([5,3,4,6,2,1])

4

In [6]:
team_alloc([1,2,3,4,5,6,7,8,9])

1

In [7]:
team_alloc([9,8,7,6,5,4,3,2,1])

9

In [8]:
team_alloc([1,5,3,2,6,4,3,9,11,15,34,16,7,99])

3

In [11]:
team_alloc([15,18,17,21,334,2,6,7,9099,65,3,9,1533])

15 	 [[15]]
	 [15]
18 	 [[15, 18]]
17 	 [[15, 18], [17]]
	 [18, 17]
21 	 [[15, 18, 21], [17]]
	 [21, 17]
334 	 [[15, 18, 21, 334], [17]]
2 	 [[15, 18, 21, 334], [17], [2]]
	 [334, 17, 2]
6 	 [[15, 18, 21, 334], [17], [2, 6]]
	 [334, 17, 6]
7 	 [[15, 18, 21, 334], [17], [2, 6, 7]]
	 [334, 17, 7]
9099 	 [[15, 18, 21, 334, 9099], [17], [2, 6, 7]]
	 [9099, 17, 7]
65 	 [[15, 18, 21, 334, 9099], [17, 65], [2, 6, 7]]
3 	 [[15, 18, 21, 334, 9099], [17, 65], [2, 6, 7], [3]]
	 [9099, 65, 7, 3]
9 	 [[15, 18, 21, 334, 9099], [17, 65], [2, 6, 7, 9], [3]]
	 [9099, 65, 9, 3]
1533 	 [[15, 18, 21, 334, 9099], [17, 65, 1533], [2, 6, 7, 9], [3]]

4

334 가 어떤 팀으로 할당되는지 주목하자 ( new_std 기준으로 효율적으로 팀 배정이 완료된다 )