# Pandas

Pandas Library can easily deal with data by forming it as Tabular. <br>
Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. 

### Tabular dataset examples
   - row = observations
   - column = variable


데이터를 저장하는데 보통 2D array에 많이 한다. 그런데, 기본적인 Numpy array를 사용하면, 오로직 하나의 type으로밖에 저장하지 못한다. 반면, Pandas를 사용하고 여러가지 type을 저장할 수 있다. 더군다나, 데이터에 대한 메타 정보들을 array에 담아낼 수 있다. <br>

즉, 데이터를 저장할 건데, 그냥 데이터만 저장할게 아니라 meta 데이터도 같이 저장하기 위해 Pandas가 등장한 것이다.

2D Numpy array has Only specify One data type (problem !!!) 
<br>
<br>
Pandas !!! 
   - High level data manipulation tool and Built on Numpy
      - Each row and column has unique row lables respectively
      - Columns with different types

## DataFrame

The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data, where you can label the rows and the columns. <br>
DataFrame을 만드는 방법은 다음과 같이 두 가지가 존재한다.

### DataFrame from dictionary
Dictionary를 사용해 manually하게 만든 후, Pandas DataFrame에 그냥 넣어준다.

In [8]:
dic = {
    "country": ["Brazil", "Russia", "India"],
    "capital": ["Brasilia", "Moscow", "New Delhi"],
    "population": [200.4, 143.5, 1252]
}
import pandas as pd
brics = pd.DataFrame(dic)
brics

     capital country  population
0   Brasilia  Brazil       200.4
1     Moscow  Russia       143.5
2  New Delhi   India      1252.0

   - keys = column labels
   - values = data, column by column

In [9]:
# Row Label도 만들어준다.
brics.index = ['BR', 'RU', 'IN']
brics

      capital country  population
BR   Brasilia  Brazil       200.4
RU     Moscow  Russia       143.5
IN  New Delhi   India      1252.0

이렇게 manual하게 dictionary를 사용해서 dataframe을 만드는 것도 좋지만, 만약 데이터 사이즈가 매우 크면 어떻게 할 것인가? 이럴 땐 그냥 외부파일을 import해버린다.

### DataFrame from CSV file

CSV = comma-separated values

In [18]:
brics = pd.read_csv("data/sample_csv.csv")
brics

  Unnamed: 0 country    capital  population
0         BR  Brazil   Brasilia       200.4
1         RU  Russia     Moscow       143.5
2         IN   India  New Delhi      1252.0

In [19]:
brics = pd.read_csv("data/sample_csv.csv", index_col = 0)
brics

   country    capital  population
BR  Brazil   Brasilia       200.4
RU  Russia     Moscow       143.5
IN   India  New Delhi      1252.0

## Index and Select Data

   - Square brackets
   - Advanced methods
      * loc
      * iloc

### Column Access, by using [ ]

In [21]:
brics['country'] # 흥미롭게도, row label과 같이 출력된다.

BR    Brazil
RU    Russia
IN     India
Name: country, dtype: object

pandas만의 특유의 data type이 존재한다

In [22]:
type(brics['country'])

pandas.core.series.Series

위의 type이름에서 **.Series**의 의미는 1D labelled array를 의미한다. <br>
(여러 개의 Series를 합치면 DataFrame이 된다.)

In [23]:
type(brics[['country']])

pandas.core.frame.DataFrame

Series를 불러오는 것 대신에 <br>
DataFrame을 통째로 불러오고 싶으면 위와 같이 [ ]를 하나 더 씌워준다. <br>
(1 column이라도 DataFrame으로 불러올 수 있다.)

In [26]:
brics[['country', 'capital']]

   country    capital
BR  Brazil   Brasilia
RU  Russia     Moscow
IN   India  New Delhi

### Row Access, by using [ ]

In [27]:
brics[1:4]

   country    capital  population
RU  Russia     Moscow       143.5
IN   India  New Delhi      1252.0

### Discussion about [ ]
   - Square brackets: limited functionality
   - Ideally
      * 2D Numpy arrays. 즉, [ ]으로 사용하면 기본적인 Numpy와 똑같다.
      * my_array[ rows, columns ]
   - Pands. 대신에 pandas는 [ ] 대신에 다음과 같은 명령어를 사용한다.
      * loc (label-based)
      * iloc (integer position-based)